.mood-value.selected{
	border: 3px solid #0000006e;
}
.mood-value{
	flex-shrink: 0;
	border:none;
	padding: 0;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	
	background-repeat: no-repeat;
	background-position: center;
}