.home {
	text-align: center;
}
h3 {
  font-size: 1em;
  margin:0;
}
.date-container {
  background-color: var(--accent-shadow);
  color: var(--foreground-contrast);
}
.home-article {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-shadow);
}
.new-mood-button{    
	position: fixed;
  right: 16px;
  bottom: 16px;
}
/* --- Compact ---------------------------------------------------------------*/
@media screen and (width < 599px) {
}

/* --- Medium ----------------------------------------------------------------*/
@media screen and (600px < width < 839px) {
}

/* --- Expanded --------------------------------------------------------------*/
@media screen and (600px < width < 840px) {
}
