body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tag {
  align-items: center;
  column-gap: 4px;
  padding: 2px 10px;
  border-radius: 0.5em;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.tag > div {
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  margin-right: 4px;
}

.fab-large {
  color: var(--accent-base);
  font-size: 3em;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border: none;
}
.fab-large:hover {
  background-color: var(--accent-base);
  color: var(--background-base);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.filled-button {
  background-color: var(--accent-base);
  color: var(--foreground-contrast);
  font-size: 1.5em;
  padding: 6px auto;
  border-radius: 0.5em;
  border: none;
}
.filled-button:hover {
  background-color: var(--accent-highlight);
}
.filled-button:active {
  background-color: var(--accent-shadow);
}
.selected {
  background-color: red;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-base: hsl(33, 100%, 99%);
    --background-highlight: #efdcf8;

    --foreground-base: hsl(36, 100%, 2%);
    --foreground-highlight: hsl(33, 50%, 20%);

    --accent-base: #9258ae;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-base: #efe8f2;
    --background-highlight: #efdcf8;

    --foreground-base: #221c24;
    --foreground-contrast: #efe8f2;

    --accent-base: #9258ae;
    --accent-highlight: #ac74c8;
    --accent-shadow: #6d2690;
  }
}

/* Follows material guideliens on window classes */
/* --- Compact ---------------------------------------------------------------*/
@media screen and (width < 599px) {
  body {
    margin: 16px 8px;
  }

  svg {
    width: 100%;
  }

  .flexGap {
    gap: 8px;
  }

  .displayText {
    font-family: Roboto;
    font-weight: 400;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
  .titleText {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
  .bodyText {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.75rem;
  }
  .labelText {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1rem;
    font-size: 0.6875rem;
  }
}

/* --- Medium ----------------------------------------------------------------*/
@media screen and (600px < width < 839px) {
}

/* --- Expanded --------------------------------------------------------------*/
@media screen and (600px < width < 840px) {
}
